{
  "pid": "bw.application.coop.rest.swagger.application_1.0",
  "properties": {
    "\/\/coop.rest.swagger\/\/BW.MODULE.VERSION": {
      "name": "\/\/coop.rest.swagger\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/dbDriver": {
      "name": "\/\/coop.rest.swagger\/\/dbDriver",
      "value": "org.postgresql.Driver",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.APPSPACE.NAME": {
      "name": "\/\/coop.rest.swagger\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/PORT": {
      "name": ".type.\/\/coop.rest.swagger\/\/PORT",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/HOST": {
      "name": ".type.\/\/coop.rest.swagger\/\/HOST",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/dbDriver": {
      "name": ".type.\/\/coop.rest.swagger\/\/dbDriver",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/dbUserName": {
      "name": "\/\/coop.rest.swagger\/\/dbUserName",
      "value": "postgres",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/HOST": {
      "name": "\/\/coop.rest.swagger\/\/HOST",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.HOST.NAME": {
      "name": "\/\/coop.rest.swagger\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "coop.rest.swagger.application",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/dbPassword": {
      "name": ".type.\/\/coop.rest.swagger\/\/dbPassword",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "coop.rest.swagger.application",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/coop.rest.swagger\/\/PORT": {
      "name": "\/\/coop.rest.swagger\/\/PORT",
      "value": "8123",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.HOST.NAME": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/dbPassword": {
      "name": "\/\/coop.rest.swagger\/\/dbPassword",
      "value": "#!5x1EXP49ObGT9MeqtxQaCnEyA3rWylVACRGUIhBwK70=",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.MODULE.NAME": {
      "name": "\/\/coop.rest.swagger\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.coop.rest.swagger.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/dbURL": {
      "name": ".type.\/\/coop.rest.swagger\/\/dbURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.DOMAIN.NAME": {
      "name": "\/\/coop.rest.swagger\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/dbURL": {
      "name": "\/\/coop.rest.swagger\/\/dbURL",
      "value": "jdbc:postgresql:\/\/localhost:5433\/coop-example",
      "type": "java.lang.String"
    },
    "\/\/coop.rest.swagger\/\/BW.APPNODE.NAME": {
      "name": "\/\/coop.rest.swagger\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/coop.rest.swagger\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/coop.rest.swagger\/\/dbUserName": {
      "name": ".type.\/\/coop.rest.swagger\/\/dbUserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}